@import "./variables";

.header {
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100%;
  .header_dummy {
    background-color: $purple1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .header_content {
    width: 100%;
    background-color: $bgGrey;
    border-top-left-radius: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    padding: 0 20px;
    height: 100%;
    z-index: 10;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-weight: 500;
    min-width: 120px;
    // border: 1.8px solid white;
    padding: 5px 10px;
    border-radius: 4px;
    .icon {
      @include icon(36px);
      background-color: $blue2;
      color: white;
      margin: 0 10px;
    }
  }
}
