@import "./variables";

.header {
  width: auto;
  background-color: $purple1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
  height: 100%;
  .profile {
    .icon {
      @include icon(36px);
      background-color: $blue2;
      // border: 1px solid white;
    }
  }
}
