.header {
  width: auto;
  background-color: yellow;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  height: 40px;
  .profile {
    .icon {
      $diam: 36px;
      width: $diam;
      height: $diam;
      background-color: red;
      border-radius: 100%;
    }
  }
}
